.sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    transition: all 0.3s ease;
    background: #3f05b3;
    z-index: 999;
    font-size: 15px;
}
.ant-layout-sider-collapsed{
   a{
        margin-right: 35px;
    }
    
}
.menu-bar{
    background-color: #3f05b3;
    height: 88vh;
    display: flex;
    margin-left: 5px;
    margin-right: -50px;
    border: none;
    background: none;
    font-size: 1rem;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    position: relative;
    
}


.sidebar-content .ant-menu-item{
    color: white;
}

.sidebar-content .ant-menu-item:hover{
    background: white;
    color: #3f05b3;
}
.toggle{
    position: absolute;
    top: 10px;
    right: -40px;
    background: #3f05b3;
    color: #fff;
    padding: 10px;
    border-radius: 10%;
    cursor: pointer;
}
.sidebar-content .ant-menu-item-selected{
    background-color: #3f05b3;
}
.sidebar-header {
    padding: 20px;
    text-align: center;
    background: #3f05b3;
    color: white;
    border: 1px solid #4a06d3c5;
}

.sidebar-content {
    height: calc(100% - 100px); /* Adjust the height as needed */
    overflow-y: auto;
}



.sidebar .userinfo .username {
    font-weight: normal;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
