#navbarItems{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
  
  #nav-logo{
    display: flex;
    align-content: flex-start;
    width: 60px;
    height: 57px;
    border-radius: 50%;
    
  }
  
  