.user-icon {
    display: flex;
    align-items: center;
  }
  
  .user-icon svg {
    width: 54px; /* Adjust the icon size as needed */
    height: 54px;
    color: rgb(146, 112, 196);
    border-radius: 50%; /* Make the icon rounded */
    margin: 0 25px 0 15px;
    border:2px solid rgb(132, 81, 210); /* Add some space between the icon and username */
  }

/* Inside your custom CSS file */
#backgroundimg{
  background-image: url("./components/Login/images/front4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.formcontainer{
  
  border-radius: 15px;
  height: 40rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.397);
  color: black;
}
@media screen and (min-width: 1100px) {
  .formcontainer{
    align-content: center;
    margin-left: 30rem;
  }
  
}